@import './bootstrap.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Satoshi', sans-serif;
}

main {
  padding: 30px;
}

.flex-right {
  margin-left: auto;
}
